<div class="evolt-banner">
<%= render 'shared/navbar' %>
<section id="home">
    <div class="evolt-banner-container">
      <!-- 6.0 wrapper -->
      <div class="spirit-bubbles" id="canvas"></div>
      <div class="wrapper" id="wrapper-large">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 text-center">
              <!-- 6.1 SPIRIT BUBBLES CANVAS -->
              <!-- end SPIRIT BUBBLES CANVAS -->

              <div class="evolt-logo-container">
                <div class="evolt-log"></div>
              </div>
              <!-- end HOME & RETURN BUTTONS -->

              <!-- 6.3 ERROR CODE -->
              <div class="welcome-logo-container">
                <%= image_tag("logo_transparent_background_cropped.png", :alt => "logo", :class => "welcome-logo-image") %>
                <%= image_tag("white_text_transparent.png", :alt => "logo", :class => "welcome-logo-text") %>
              </div>
              <!-- ERROR TEXT, Change error text according to your requirement -->
              <h2 id="sub-title">Strategy Consulting for <span class=green>SME</span>s!</h2>
              <!-- ROTATING TEXT -->
              <!-- END ERROR CODE -->

              <!-- 6.4 search-form -->
  <!--             <form class="form-inline search-form">
                <div class="input-group">
                  <input type="type" class="form-control" placeholder="search the web">
                  <span class="input-group-btn">
                    <button type="submit" class="btn"><span class="search-icon"></span></button>
                  </span>
                </div>
              </form> -->
              <!-- end search-form -->
              <!-- 6.2 HOME & RETURN BUTTONS -->
              <ul class="return-btn center-block">
                <li>
                  <a href="#services" class="wow slideInLeft">About Evolt<span class="icons-container"><span class="home-icon"></span></span></a>
                </li>
                <li>
                  <a href="#about" class="wow slideInRight">Our values<span class="icons-container"><span class="return-icon"></span></span></a>
                </li>
              </ul>

              <!-- 6.5 social-icons -->
  <!--             <ul class="social-icons center-block">
                <li>
                  <a class="hvr-icon-wobble-vertical wow slideInLeft" data-wow-delay="3.5s" href="#">E</a>
                </li>
                <li>
                  <a class="hvr-icon-wobble-vertical wow slideInLeft" data-wow-delay="2.5s" href="#">V</a>
                </li>
                <li>
                  <a class="hvr-icon-wobble-vertical wow fadeIn" data-wow-delay="2s" href="#">O</a>
                </li>
                <li>
                  <a class="hvr-icon-wobble-vertical wow slideInRight" data-wow-delay="2.5s" href="#">L</a>
                </li>
                <li>
                  <a class="hvr-icon-wobble-vertical wow slideInRight" data-wow-delay="3.5s" href="#">T</a>
                </li>
              </ul> -->
              <!-- end social-icons -->
            </div>
          </div>
        </div>
      </div>
      <!-- end wrapper -->
    </div>
  </div>
</section>

<div class="welcome-section">

  <!--==========================
      About Section
    ============================-->
  <section id="services">
    <div class="container">

      <header class="section-header wow fadeInUp">
        <h3>About Evolt</h3>
        <p>While small and medium sized enterprises are facing the same strategic challenges as multinationals, today's market is characterized by a shortage of strategy consultants helping out SMEs. Evolt consulting aims to be the approachable option in strategy consulting for all type of SMEs. Evolt consulting can assist your SME with the most challenging topics nowadays. </p>
      </header>

      <div class="row">

        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
          <h4 class="title">Strategic focus</h4>
          <p class="description">Having experienced organic growth, most SMEs take an opportunistic approach. It requires strategic focus and prioritization to take it to the next level.</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
          <h4 class="title">Market positioning</h4>
          <p class="description">Most SMEs take an obvious position in the market. Nevertheless, identifying your strengths and adequately branding them, can bring you to the next sweet spot.</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          <h4 class="title">Financial visibility</h4>
          <p class="description">Financial streams are more than an accounting tool. Enhancing and leveraging financial visibility can greatly improve the strategic position of your SME. </p>
        </div>
        <!-- <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
          <h4 class="title"><a href="">Strategic pricing</a></h4>
          <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
          <h4 class="title"><a href="">Organizational restructuring</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-people-outline"></i></div>
          <h4 class="title"><a href="">Strategic communication</a></h4>
          <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div> -->

      </div>

    </div>
  </section><!-- #services -->

  <!--==========================
    Approach Section
  ============================-->
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3>Our values</h3>
        <p>At Evolt, we truly reflect our values in the way we work. At any given moment, for every service we offer, you can expect Evolt to live up to its values. It's what we want to be remembered for.</p>
      </header>

      <div class="row about-cols">

        <div class="col-md-4 wow fadeInUp">
          <div class="about-col">
            <div class="img">
              <%= image_tag("empathy.jpg", :class => "img-fluid") %>
              <div class="icon"><i class="fas fa-hands-helping"></i></div>
            </div>
            <h2 class="title"><a href="#">Empathy</a></h2>
            <p>
              People are your most valuable assets. They have all the insights your company needs to thrive. Whatever action we recommend, Evolt highly values and listens to the people in your company. In the end, it's your employees that are going to be the differentiating factor.
            </p>
          </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="about-col">
            <div class="img">
              <%= image_tag("customization.jpg", :class => "img-fluid") %>
              <div class="icon"><i class="fas fa-pencil-ruler"></i></div>
            </div>
            <h2 class="title"><a href="#">Customization</a></h2>
            <p>
              At Evolt we work with frameworks. They bring structure and strategic harmony in your company. Nevertheless, every company is different. You can be sure we work only with frameworks and strategies 100% tailored to the needs of your company.
            </p>
          </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
          <div class="about-col">
            <div class="img">
              <%= image_tag("implementation.jpg", :class => "img-fluid") %>
              <div class="icon"><i class="fas fa-fist-raised"></i></div>
            </div>
            <h2 class="title"><a href="#">Implementation</a></h2>
            <p>
              "It's all fun and nice to receive strategic advice from external consultants, but in the end the work needs to be done." - We couldn't agree more with that statement. At Evolt, we stay with you until the end. We walk the talk with you together.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #about -->

   <!--==========================
      Use cases
    ============================-->
    <section id="cases">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Use cases</h3>
          <p>Consultants at Evolt have worked on strategic topics in a broad range of industries. The following selected use cases showcase our previous experience.</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-crosshairs"></i></div>
            <h5 class="title">Strategic positioning for a service SME</h5>
            <p class="description">Evolt helped out identifying the right markets and product mix for an SME active in language and communication training.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="far fa-eye"></i></div>
            <h5 class="title">Financial visibility for a service SME</h5>
            <p class="description">Evolt provided financial visibility and conducted a market valuation for a service SME in the process of a capital increase.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-truck-loading"></i></div>
            <h5 class="title">Operational excellence in the food industry</h5>
            <p class="description">Evolt consulted a food distribution company in streamlining the operational processes in order to reduce operational costs.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
            <h5 class="title">Strategic and geographical positioning for an OEM</h5>
            <p class="description">Evolt assisted an OEM in identifying the right product mix and strategic approach for its global operations.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-tags"></i></i></div>
            <h5 class="title">Sourcing and pricing in the food distribution industry</h5>
            <p class="description">Evolt adviced a food distribution company on their sourcing strategy and identified the right pricing levels for their products.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="fas fa-car"></i></div>
            <h5 class="title">Mapping the mobility landscape</h5>
            <p class="description">Evolt identified the strategic playing fields in the future mobility landscape for a major mobility player.</p>
          </div>

        </div>

      </div>
    </section><!-- #services -->


  <!--==========================
      Clients Section
  ============================-->
  <section id="partners" class="wow fadeInUp">
    <div class="container">

      <header class="section-header">
        <h3>Our Partners</h3>
        <p>We don't know it all, and we gladly admit that. Whenever we believe that your needs do not align with our expertise, we'll tell you. Evolt has a network of experts in a broad range of expertises, such as corporate engagement, business communication, mobile platforms and web development. We'll gladly recommend you to them whenever you see fit. </p>
      </header>

      <div class="owl-carousel clients-carousel partners-box">
        <a href="http://atolo.eu/" target="_blank"><%= image_tag("atolo.png", :class => "img-partners") %></a>
        <a href="https://devizer.io/" target="_blank"><%= image_tag("devizer.png", :class => "img-partners") %></a>
      </div>

    </div>
  </section><!-- #clients -->

    <!--==========================
      Call To Action Section
    ============================-->
  <section id="call-to-action" class="wow fadeIn">
    <div class="container text-center">
      <h3>Where do we go from here?</h3>
      <p>We don't know you and you don't know us. As we mentioned before, people are your greatest assets, and we want to get to know them. Thus, our first week on site is completely free. At the end of that week, we'll formulize our approach. At that moment, the go/no-go decision is still in your camp.
      Would you like to know more about us? Let's have a chat in person.</p>
      <a class="cta-btn" href="#contact">Get in touch</a>
    </div>
  </section><!-- #call-to-action -->

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="section-bg wow fadeInUp">
    <div class="container">

      <div class="section-header">
        <h3>Contact Us</h3>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
            <address>Av. de Tervurenlaan 32-34/6, 1040 Brussels, Belgium</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+32472017172">+32 472 01 71 72</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="mailto:info@evolt.consulting">info@evolt.consulting</a></p>
          </div>
        </div>

      </div>

<!--       <div class="form">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form action="" method="post" role="form" class="contactForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validation"></div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div> -->

    </div>
  </section><!-- #contact -->

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Evolt</h3>
            <p>The strategy consulting firm for Small and Medium Enterprises</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#services">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">Values</a></li>
<!--               <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              BVBA CVL / EVOLT <br>
              Av. De Tervurenlaan 32-34 / 6 <br>
              1040 Brussels<br>
              Belgium <br>
              <strong>Phone:</strong> +32 472 01 71 72<br>
              <strong>Email:</strong> info@evolt.consulting<br>
            </p>

<!--             <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div> -->

          </div>

<!--           <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


</div>
